body{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 150, 136), rgb(216, 219, 214));
}

/*My Height e Width*/
.my-s-height-1{
    height: 74px;
}
.my-s-height-2{
    height: 80px;
}
.my-s-height-4{
    height: 450px;
}
.my-s-height-6{
    height: 600px;
}

.my-s-width{
    width: 80%;
}


/*Background Color e BG-IMG*/
.bg-ea{
    background-color: #eaeaea;
}
.bg-eda{
    background-color: #8edafc;
}

/*More Utilies*/
.my-border{
    border: 1px solid black;
}

.circle{
    border-radius: 50%;
}

.usr-hvr:hover{
    background-color: #d6d5d5;
    cursor: pointer;

}
.flex-row{
    flex-direction: row;
}

.bg-pic{
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
}

.mr-2{
margin-right: 10px;
}

.pointer{
    cursor: pointer;
}