body{
    height: 100vh;
    background-image: linear-gradient(to bottom,
     #00bfa5 15%,
      #f0f0f0 15%,
      #f0f0f0 100%);
}

/*My Height e Width*/
.my-s-height-1{
    height: 74px;
}
.my-s-height-2{
    height: 80px;
}
.my-s-height-3{
    height: 350px;
}
.my-s-height-4{
    height: 450px;
}
.my-s-height-6{
    height: 600px;
}

.my-s-width{
    width: 80%;
}


/*Background Color e BG-IMG*/
.bg-ea{
    background-color: #eaeaea;
}
.bg-eda{
    background-color: #8edafc;
}

.bg-dfba{
    background-color: #d5f9ba;
}

/*TEXT STYLE*/
.text-underline{
    text-decoration: underline;
}

.text-small{
    font-size: small;
}

.text-extra-small{
    font-size: x-small;
}

.txt-right-block{
    display: block;
    text-align: right;
}


/*More Utilies*/


.usr-hvr:hover{
    background-color: #d6d5d5;
    cursor: pointer;

}

.bg-pic{
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
}

.pointer{
    cursor: pointer;
}

.bell-circle{
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

/* MEDIA  */

.media {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .media figure {
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
  }
  
  .media .media-icon {
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .media img {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
  }
  
  .media .media-text {
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
  .media .media-secondary-text {
    margin-bottom: 0;
  }
  
  
/* MESSAGES */
.message-container {
    display: flex;
  }
  .message-container.sent {
    justify-content: flex-end;
  }
  
  .message-container.received {
    justify-content: flex-start;
  }
  
  .message-container.sent .message {
    background-color: #d5f9ba;
  }
  
  .message-container.received .message {
    background-color: #fff;
  }
  
  .message-container .message p {
    margin-bottom: 0;
  }
  .message-container .message time {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #aaa;
  }
