<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!--ONLY CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./css/style.css">

     <!--ONLY SCRIPT-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container mx-auto position-absolute top-50 start-50 translate-middle my-s-width">
            <div class="row">
                <!--COLONNA DI SINISTRA-->
                <div class="col-4 card my-s-height-6">
                    <div class="w-100">
                        <div class="row">
                            <!--UTENTE-->
                            <div class="col-12 bg-ea my-s-height-1 py-2 d-flex align-self-center justify-content-between">
                                <ul class="m-0 p-0">
                                    <li class="media">
                                      <figure>
                                        <img src="img/avatar_io.jpg" alt="Io" />
                                      </figure>
                                      <div class="h6 media-text">
                                        <div>Nome Utente</div>
                                      </div>
                                    </li>
                                </ul>
                                <div class="w-25 text-muted d-flex justify-content-around align-items-center">
                                    <i class="fas fa-circle-notch pointer"></i>
                                    <i class="fas fa-comment-alt pointer"></i>
                                    <i class="fas fa-ellipsis-v pointer"></i>
                                </div>
                            </div>

                            <!--NOTIFICA WEB-->
                            <div class="col-12 bg-eda my-s-height-2 py-2 d-flex align-self-start">
                                <div class="col-2 d-flex align-self-center py-2 me-2">
                                    <div class="bell-circle rounded-circle">
                                        <i class="far fa-bell-slash"></i>
                                    </div>
                                </div>
                                <div class="col-9 align-self-center">
                                    <div>
                                        <span class="text-left">Ricevi notifiche di nuovi messaggi</span>
                                    </div>
                                    <div>
                                        <span class="text-underline text-small pointer">Attiva notifiche desktop</span>
                                    </div>
                                </div>
                            </div>

                            <!--INPUT DI RICERCA-->
                            <div class="p-2 position-relative">
                                <input type="search" name="searchUser" id="searchUser" class="w-100 py-2 px-4 rounded-pill" placeholder="Cerca o avvia una chat">
                            </div>
                            

                            <!--UTENTI-->
                            <div class="col-12 my-s-height-3 overflow-scroll p-0">
                                    <ul class="m-0 p-0">
                                        <li class="media usr-hvr border-bottom" 
                                        v-for="(contact, index) in contacts" 
                                        @click="showChat(index)">
                                          <figure>
                                            <img :src="getContactImage(index)"
                                             :alt="contact.name" />
                                          </figure>
                                          <div class="h6 media-text">
                                            <div>{{ contact.name }}</div>
                                          </div>
                                        </li>
                                    </ul>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!--COLONNA DI DESTRA-->
                <div class="col-8 card my-s-height">
                    <div class="w-100">
                        <div class="row">

                            <!--TITOLO CHAT UTENTE-->
                            <div class="col-12 bg-ea my-s-height-1 py-2 d-flex align-self-center">
                                <div class="col-1">
                                    <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" alt="avatar_1" class="img-fluid rounded-circle">
                                </div>
                                <div class="col-3 d-flex align-self-center flex-column py-2">
                                    <span class="media-text">{{ contacts[currentIndex].name }}</span>
                                    <span class="media-text">Ultimo accesso oggi alle:</span>
                                </div>
                                <div class="col-8 d-flex justify-content-end text-muted align-self-center">
                                    <h4 class="text-right text-muted">
                                        <i class="fas fa-search mr-2 pointer"></i>
                                        <i class="fas fa-paperclip mr-2 pointer"></i>
                                        <i class="fas fa-ellipsis-v pointer"></i>
                                    </h4>
                                </div>
                            </div>

                            <!--CHAT-->
                            <div class="col-12 bg-pic my-s-height-4 overflow-scroll">
                                <ul>
                                    <li 
                                    class="message-container p-3" 
                                    v-for="message in contacts[currentIndex].messages"
                                    :class="message.status">
                                      <div class="message p-2 rounded-3">
                                        <p>{{ message.message }}</p>
                                        <time datetime="2021-08-03T09:53">{{ message.date }}</time>
                                      </div>
                                    </li>
                                  </ul>
                            </div>

                            <!--INPUT MESSAGGIO-->
                            <div class="col-12 bg-ea my-s-height-1 py-2 d-flex align-self-center">
                                <div class="col-1 align-self-center justify-content-center">
                                    <h3 class="text-center"><i class="far fa-smile"></i></h3>
                                </div>
                                <div class="col-10 flex-grow">
                                    <input type="Text" name="textMsg" id="textMsg" class="w-100 h-100 p-2" placeholder="Scrivi un messaggio..." v-model="userMessage" v-on:keyup.enter="sendMessage().trim()"></input>
                                </div>
                                <div class="col-1 align-self-center">
                                    <h3 class="text-center"><i class="fas fa-microphone"></i></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="./js/script.js"></script>
</body>
</html>